.labelform{
    -fx-font-weight: bold;
    -fx-background-color: #ffc300;
}
 
.box{
    -fx-font-weight: bold;
}
 
.field{
    -fx-font-weight: bold;
}
.btn{
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}


.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
}


.button:hover {
    -fx-background-color: #3E8E41;
}
